body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profit {
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 3px;
}

ul li {
  padding: 5px;
}

.positive, .new {
  color: green;
  font-weight: bold;
}

.positive-bright, .new {
  color: lightgreen;
  font-weight: bold;
}

.negative {
  color: red;
  font-weight: bold;
}

.scenario-return {
  color: aqua;
  font-weight: bold;
}

.custard {
  color:khaki;
  font-weight: bold;
}

.dim {
  color:gray;
  font-size: smaller;
}

h1 a {
  text-decoration: none;
  cursor: pointer;
}

.outcome-table{
  width:100%;
}

.outcome-table thead{
  background-color: papayawhip;
}

td {
  font-size: 11pt;
}

td.muffins-return {
  background-color: rgb(235, 235, 250);
}

.table-integer {
  text-align: right;
}
